.contact-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.material-icons {
  margin-right: 8px; /* Adds gap between icon and text */
  color: #fff;
}

.brand-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px; /* Adds gap between brand icons and text */
}

.contact-links {
  list-style-type: none;
  padding: 0;
}

.contact {
  justify-content: flex-end;
}
